<!-- <div>
  <nav>
    <a routerLink="">Главная</a> |
    <a routerLink="/item/5/details">Информация о товаре</a> |
    <a routerLink="/item/5/stat">Статистика товара</a>
    <a routerLink="/about">About</a>
  </nav>
  <router-outlet></router-outlet>
</div> -->

<h1>List of users</h1>
<input type="button" value="Add" class="btn btn-default" (click)="addUser()">
<table class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Age</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <ng-template [ngTemplateOutlet]="loadTemplate(user)" [ngTemplateOutletContext]="{$implicit: user}">
      </ng-template>
    </tr>
  </tbody>
</table>
<div>{{statusMessage}}</div>

<ng-template #readOnlyTemplate let-user>
  <td>{{user.id}}</td>
  <td>{{user.name}}</td>
  <td>{{user.age}}</td>
  <td>
    <input type="button" value="Edit" class="btn btn-default" (click)="editUser(user)">
  </td>
  <td>
    <input type="button" value="Delete" class="btn btn-default" (click)="deleteUser(user)">
  </td>
</ng-template>

<ng-template #editTemplate>
  <td>
    <input type="text" [(ngModel)]="editedUser.id" readonly disabled class="form-control">
  </td>
  <td>
    <input type="text" [(ngModel)]="editedUser.name" class="form-control">
  </td>
  <td>
    <input type="text" [(ngModel)]="editedUser.age" class="form-control">
  </td>
  <td>
    <input type="button" value="Save" (click)="saveUser()" class="btn btn-success">
  </td>
  <td>
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning">
  </td>
</ng-template>
